<nav>
  <h2>Carrinho de compras</h2>

  <ul>
    <li *ngFor="let movie of shoppingCart$ | async" [title]="movie.title">
      <img [src]="baseUrl+movie.poster_path" alt="poster do filme">
      <span> {{movie.title}}</span>
      <i class="material-icons" (click)="removeFromCart(movie.id)">delete</i>
    </li>
  </ul>
  <span> Preço total do carrinho: {{ totalPrice | currency: 'BRL' }} </span>
  <button (click)="notifyCloseCart()" [disabled]="!totalPrice" routerLink="/checkout" mat-raised-button color="primary">Prosseguir com a compra</button>
</nav>
