<mat-card (click)="movieDetails()">
  <mat-card-title>{{ movie.title }}</mat-card-title>
  <img *ngIf="movie.poster_path" mat-card-image src='{{urlMoviePoster}}/{{movie.poster_path}}' alt="Movie's Poster">
  <img *ngIf="!movie.poster_path" src='../../../../assets/wallpaper_not_found.png' alt="Movie's poster"/>
  <span>
    <mat-card-content class="content">
      <span #date></span>
      <span>{{ movie.mainGenre}}</span>
      <span class="movieStars">{{ movie.vote_average.toFixed(2)}} <i class="material-icons">star</i></span>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-raised-button color="warn" (click)="addOrRemoveFromCart($event)" [ngClass]="{'inCart': inCart}">
        <i class="material-icons" *ngIf="inCart">check</i>
        Carrinho<i class="material-icons">add_shopping_cart</i>
      </button>
      <button mat-button (click)="addOrRemoveFromFavorites($event)"><i class="material-icons" [ngClass]="{'inFavorites': inFavorites}">favorite</i></button>
    </mat-card-actions>
  </span>
</mat-card>
