<div class="sticky">

<mat-toolbar class="header">
  <a routerLink="/">
    <i class="material-icons">
      camera_roll
    </i>
  </a>

  <span class="header__form">
    <form #form="ngForm" (ngSubmit)="submitNameMovie(form)">
      <input type="text" name="moviename" placeholder="Pesquisar filme..." ngModel>
      <i class="material-icons" (click)="submitNameMovie(form)">
        search
      </i>
    </form>
  </span>

  <i class="material-icons">
    wb_sunny
    <!-- brightness_3 -->
  </i>

  <div class="header__buttons">
    <p>Entrar</p>

    <i class="material-icons" (click)="toggleFavoritesNav()">
      favorite
    </i>

    <i class="material-icons" (click)="toggleShoppingCartNav()">
      shopping_cart
    </i>
  </div>

</mat-toolbar>

<!-- essa toolbar só aparecerá em telas pequenas-->
<mat-toolbar class="subHeader">
    <span>Usuário</span>

    <i class="material-icons" (click)="toggleFavoritesNav()">
      favorite
    </i>

    <i class="material-icons" (click)="toggleShoppingCartNav()">
      shopping_cart
    </i>
</mat-toolbar>
</div>


<mat-sidenav-container>
  <mat-sidenav [opened]="openFavorites || openShoppingCart " mode="over" position="end">
    <app-favorites *ngIf="openFavorites"></app-favorites>
    <app-shopping-cart *ngIf="openShoppingCart"></app-shopping-cart>
  </mat-sidenav>

  <!-- <mat-sidenav [opened]="openShoppingCart" position="end">
    <mat-tab-group>
      <mat-tab label="Favoritos">
        <app-favorites></app-favorites>
      </mat-tab>
      <mat-tab label="Carrinho de compras">
        <app-shopping-cart></app-shopping-cart>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav> -->

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
