<div class="sticky">

  <mat-toolbar class="header">
    <a href="/">
      <i class="material-icons">
        camera_roll
      </i>
    </a>

      <form #form="ngForm" (ngSubmit)="submitNameMovie(form)">
        <input type="text" name="moviename" placeholder="Pesquisar filme..." ngModel>
        <i class="material-icons" (click)="submitNameMovie(form)">
          search
        </i>
      </form>

    <i class="material-icons">
      wb_sunny
      <!-- brightness_3 -->
    </i>

    <div class="header__buttons">
      <a routerLink="loginsignup" *ngIf="!token">Entrar</a>
      <button mat-button [matMenuTriggerFor]="beforeMenu" *ngIf="token">{{ user.name }}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Atualizar dados</button>
        <button mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>

      <i class="material-icons" [matBadge]="favoritesLength" (click)="toggleFavoritesNav()">
        favorite
      </i>

      <i class="material-icons" [matBadge]="shoppingCartLength" (click)="toggleShoppingCartNav()">
        shopping_cart
      </i>
    </div>

  </mat-toolbar>

  <!-- essa toolbar só aparecerá em telas pequenas-->
  <mat-toolbar class="subHeader">
    <a routerLink="loginsignup" *ngIf="!token">Entrar</a>
    <button mat-button [matMenuTriggerFor]="afterMenu" *ngIf="token">{{ user.name }}</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Atualizar dados</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>

      <i class="material-icons" (click)="toggleFavoritesNav()">
        favorite
      </i>

      <i class="material-icons" (click)="toggleShoppingCartNav()">
        shopping_cart
      </i>
  </mat-toolbar>
</div>


<mat-sidenav-container>
  <mat-sidenav [opened]="openFavorites || openShoppingCart " mode="over" position="end">
    <app-favorites *ngIf="openFavorites"></app-favorites>
    <app-shopping-cart *ngIf="openShoppingCart"></app-shopping-cart>
  </mat-sidenav>

  <!-- <mat-sidenav [opened]="openShoppingCart" position="end">
    <mat-tab-group>
      <mat-tab label="Favoritos">
        <app-favorites></app-favorites>
      </mat-tab>
      <mat-tab label="Carrinho de compras">
        <app-shopping-cart></app-shopping-cart>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav> -->

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
