@use '../../../config-scss/rem-calc.scss' as *;

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  position: sticky;
  top: 0;
  z-index: 5;

  i{
    cursor: pointer;
  }

  i:first-child{
    font-size: 50px;
  }

  a{
    color: white;
    display: contents;
  }

  &__form{
    display: flex;
    background-color: white;
    width: rem-calc(500);
    border-radius: 10px;
    overflow: hidden;
    color: #000;
    margin-left: 10px;
  }

  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    input{
      width: 100%;
      font-size: rem-calc(20);
      padding: rem-calc(5);
    }

  }

  &__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem-calc(200);

    p{
      margin: 0;
    }
  }
}

.mat-sidenav{
  min-width: rem-calc(350);
  height: calc(100vh - rem-calc(64));
  border-radius: 0 0 0 10px;
}
