<div class="detailsContainer" [ngClass]="{'loading': !movie}">
  <mat-spinner *ngIf="!movie"></mat-spinner>
  <div *ngIf="movie && movie.backdrop_path !== null" class="detailsContainer__image" [ngStyle]="{'background': backgroundMovie, 'background-repeat': 'no-repeat'}">
  </div>

  <section class="details" *ngIf="movie">
   
    <mat-card class="slideInLeft">
      <img [src]="posterImage" alt="poster do filme">
      
      <mat-card-actions>
        <a [href]="trailerURL" target="_blank" mat-raised-button color="primary"> <i class="material-icons">play_circle_outline</i> Trailer </a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="details__metadata slideInRight">
      <mat-card-title><h1>{{ movie.title }}</h1></mat-card-title>

      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="select = !select" [ngClass]="{'selected': select}">
          <i class="material-icons" *ngIf="select">check</i>Carrinho<i class="material-icons">add_shopping_cart</i>
        </button>
        <button mat-button><i class="material-icons">favorite</i></button>
      </mat-card-actions>

      <mat-card-content>
        Média de avaliações: <ngb-rating [max]="10" [(rate)]="movie.vote_average" [readonly]="true" class="filled"></ngb-rating><br>
        Total de votos: {{movie.vote_count}}
        <h2>Sinopse</h2>
        {{ movie.overview }}
      </mat-card-content>

      <mat-card-footer>
        <b>Ano de lançamento:</b> {{movie.release_date.slice(0, 4)}}<br>
        <b>Gênero:</b> {{movie.mainGenre}}
      </mat-card-footer>
    </mat-card>
      
  </section>

    <mat-card class="carousel-card" *ngIf="relatedMovies && movie">
      <h4>Filmes relacionados</h4>
      <app-carousel [relatedMovies]="relatedMovies"></app-carousel> 
    </mat-card>
    
</div>
