@use '../../../config-scss/rem-calc.scss' as *;

.main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: fit-content;
  padding: rem-calc(10);
  gap: rem-calc(15);
  // background-image: url('../../../assets/bg.jpg');
  background-color: #777;
}
