/* You can add global styles to this file, and also import other style files */
@use './config-scss/animation.scss' as *;

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
// html, body{ height: 100%;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030;}
a{
  cursor: pointer;
}

.msg-sucess {
  background-color: #28a745;
  color: white;
}

.msg-error {
  background-color: red;
  color: white;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
