/* You can add global styles to this file, and also import other style files */
@use './config-scss/animation.scss' as *;

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
// html, body{ height: 100%;}
html, body { font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030;}
a{
  cursor: pointer;
  text-decoration: none !important;
}

.msg-sucess {
  background-color: #28a745;
  color: white;
}

.msg-error {
  background-color: red;
  color: white;
}

@import '@angular/material/theming';
@include mat-core();

$mat-color-primary: mat-palette($mat-deep-purple, 700);
$mat-color-secondary: mat-palette($mat-amber, A700, A400, 700);
$mat-color-warn: mat-palette($mat-red);

$mat-theme-white: mat-light-theme($mat-color-primary, $mat-color-secondary, $mat-color-warn);


.light-theme{
  @include angular-material-theme($mat-theme-white);
}







/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
