main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: calc(100vh - 50px);
    margin: 0 auto;
    
    .mat-stepper-vertical{
        width: 70%;
        justify-self: end;
    }
    
    section{
        text-align: center;
        width: 70%;

        ul{
            list-style: none;
            width: 100%;
            padding: 0 16px;
            height: calc(100vh - 150px);
            overflow: auto;
      
            &::-webkit-scrollbar{
              background-color: #303030;
              border-radius: 0.5rem;
            }
      
            &::-webkit-scrollbar-thumb{
              background-color: #212121;
              border-radius: 0.5rem;
            }
            
            &::-webkit-scrollbar-thumb:hover{
              background-color: #282828;
            }
      
            li{
              display: flex;
              align-items: center;
              margin-bottom: 16px;
              white-space: nowrap;
      
              img{
                border-radius: 4px;
              }
      
              span{
                width: 100%;
                margin: 0 1rem;
                overflow: hidden;
              }
      
              i{
                cursor: pointer;
              }
            }
          }
    }
}

@media (max-width: 813px){
  .mat-stepper-vertical, section{
    justify-self: center !important;
  }
}