@use 'src/config-scss/rem-calc.scss' as *;

:host{
  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem-calc(10);
    max-width: 25rem;

    ul{
      list-style: none;
      width: 100%;
      padding: 0 16px;
      height: calc(100vh - 150px);
      overflow: auto;

      &::-webkit-scrollbar{
        background-color: #303030;
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb{
        background-color: #212121;
        border-radius: 0.5rem;
      }
      
      &::-webkit-scrollbar-thumb:hover{
        background-color: #282828;
      }

      li{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        white-space: nowrap;

        img{
          border-radius: 4px;
        }

        span{
          width: 100%;
          margin: 0 1rem;
          overflow: hidden;
        }

        i{
          cursor: pointer;
        }
      }
    }
  }
}
